---
- name: configure load balancers
  hosts: lb
  tasks:

  - name: copy out kia
    copy:
      src: files/kia
      dest: /usr/local/sbin/kia

  - name: copy out kiaproxybsd
    copy:
      src: files/kiaproxybsd
      dest: /root/kiaproxybsd
      
  - name: copy out setup script for kia
    copy:
      src: files/setup_kia.ksh
      dest: /root/setup_kia.ksh
      
  - name: copy out load balancer pf config
    copy:
      src: files/pf.conf__lb
      dest: /etc/pf.conf


- name: configure web servers
  hosts: wb
  tasks:

  - name: copy out morpho
    copy:
      src: files/morpho
      dest: /usr/local/bin/morpho

  - name: copy out morpho-server
    copy:
      src: files/morpho-server
      dest: /home/crab/morpho-server

  - name: copy out web pf config
    copy:
      src: files/pf.conf__compute
      dest: /etc/pf.conf

  - name: copy out setup script
    copy:
      src: files/setup_morph.ksh
      dest: /root/setup_morph.ksh

# More coming soon!
